<div class="filter-group">
    <form class="filterForm">
        <div class="column filterGroup">
            <!-- Service -->
            <div class="row">
                <label for="service">Service</label>
                <select id="service" name="service">
                    {{#each services}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <!-- Erfahrung -->
            <div class="row">
                <!-- TODO-->
            </div>
            <!-- Alter -->
            <div class="row filterGroup">
                <label for="age">Alter:</label><br>
                <input class="col l6 xl6 s6" type="number" id="begin" name="begin" min="18" max="98" placeholder="Anfang"
                       pattern="[0-9]{2}" onchange="handleChange(this);">
                <input class="col l6 xl6 s6" type="number" id="end" name="end" min="19" max="99" placeholder="Ende"
                       pattern="[0-9]{2}0" onchange="handleChange(this);">
            </div>

            <!-- Geschlecht -->
            <div class="row">
                <div class="">
                    <label for="age">Geschlecht:</label><br>
                    <select id="gender">
                        <option value="male">Männlich</option>
                        <option value="female">Weiblich</option>
                        <option value="divers">Divers</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript"  src="assets/js/handleInputfield.js"></script>


