<div class="filter-group">
    <form class="filterForm">
        <div class="column filterGroup">
            <!-- Service -->
            <div class="row">
                <label for="service">Service</label>
                <select id="service" name="service">
                    {{#each page.service}}
                        <option value="{{this.uuid}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <!-- Erfahrung -->
            <div class="row">
                <!-- TODO-->
            </div>
            <!-- Alter -->
            <div class="row">
                <label for="age">Alter:</label>
                <p class="range-field center-align">
                    <span id="sliderValue"></span><br>
                    <input type="range" min="0" max="100" step="1" name="sld" value="50" onchange="showValue(this.value)">
                </p>
            </div>
            <!-- Geschlecht -->
            <div class="row">
                <div class="">
                    <select id="gender">
                        <option value="male">Männlich</option>
                        <option value="female">Weiblich</option>
                        <option value="divers">Divers</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

