<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="container">
    <div id="foot-container">
       <!-- <div class="foot-divs"><a href="impressum">Impressum</a></div> -->
        <div class="foot-divs">
            <ul id="footLink">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
            </ul>
        </div>
        <div class="foot-divs">
            <p id="copyright">Copyright &#169; 2019 Haustier e.V.</p>
        </div>
    </div>

</footer>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">WirVsVrus Haustier</h5>
                <p class="grey-text text-lighten-4">Projekt des #wirvsvirus Hackathons der Bundesregierung</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright &#169; 2019 Haustier e.V.
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>