<div class="row s12 l12 xl12 listLayout-group">
    <div class="listOverview">
        <!--some personal info for example address -->
    </div>
    <div class="list">
        {{#if bool}}
            {{#each page.containerTab}}
                <div> {{>containerOffer_Owner}}</div>
            {{/each}}
        {{else}}
            {{#each page.containerTab}}
                <div> {{>containerOffer_Customer}}</div>
            {{/each}}
        {{/if}}
    </div>
</div>