<div class="row s12 l12 xl12 listLayout-group">
    <div class="listOverview">
        <!--some personal info for example address -->
    </div>
    <div class="list">
        {{#if temp}}
            {{#each helperarr}}
                {{>containerOffer_Owner helpers=this}}
            {{/each}}
        {{else}}
            {{#each offerarr}}
                {{>containerOffer_Customer offers=this}}
            {{/each}}
        {{/if}}
    </div>
</div>
