<div class="row s12 l12 xl12 listLayout-group">
    <div class="listOverview">
        <!--some personal info for example address -->
    </div>
    <div class="list">
        {{#if temp}}
            {{#each helperarr}}
                <div> {{>containerOffer_Owner helpers=this}}</div>
            {{/each}}
        {{else}}
            {{#each offerarr}}
                <div> {{>containerOffer_Customer offers=this}}</div>
            {{/each}}
        {{/if}}
    </div>
</div>
