<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">WirVsVirus</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="" href="/searchOffer">Suche</a></li>
                <li><a id="" href="/login">Login</a></li>
                <li><a id="" href="/register">Register</a></li>
                <li><a id="" href="/profile">Profile</a></li>
                <li><a id="" href="/create-search">Suche erstellen</a></li>
                <li><a id="" href="/create-offer">Angebot erstellen</a></li>
                <li><a id="" href="/create-animal">Tier erstellen</a></li>
            </ul>
        </div>

        <ul class="sidenav" id="mobile-demo">
            <li><a id="" href="/searchOffer">Suche</a></li>
            <li><a id="" href="/login">Login</a></li>
            <li><a id="" href="/register">Register</a></li>
            <li><a id="" href="/profile">Profile</a></li>
            <li><a id="" href="/create-search">Profile</a></li>
            <li><a id="" href="/create-offer">Profile</a></li>
        </ul>
    </nav>
</div>


<script type="text/javascript" src="assets/materialize/materialize.min.js"></script>
