<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">Logo</a>
        <ul class="right">
            <li><a id="searchingNavEntry">Suche</a></li>
            <li><a id="offeringNavEntry">Biete</a></li>
            <li><a id="login">Anmelden/Registieren</a></li>
        </ul>
    </div>
</nav>
