{{ setVar "title" "Angebot erstellen" }}
{{> topInclude }}
<div class="container">
    <h2>Angebot erstellen</h2>
    <hr id="siteHeaderUnderline">
</div>
<div class="container">
    <div class="row">
        <form class="col l12" method="post" action="/">
            <div class="col l6">
                <h5>Tierart(en)</h5>
                {{#each animals}}
                    <div class="row">
                        <label>
                            <script>
                                let animalIdentifier = "offerAnimal" + {{this.type}};
                            </script>
                            <input type="checkbox" name=animalIdentifier id=animalIdentifier>
                            <span>{{this.type}}</span>
                        </label>
                    </div>
                {{/each}}
            </div>
            <div class="col l6">
                <h5>Service(s)</h5>
                <div class="row">
                    <label>
                        <input type="checkbox" name="offerServiceWalk" id="offerServiceWalk">
                        <span>Gassi gehen</span>
                    </label>
                </div>
                <div class="row">
                    <label>
                        <input type="checkbox" name="offerServiceFood" id="offerServiceFood">
                        <span>Futter kaufen</span>
                    </label>
                </div>
                <div class="row">
                    <label>
                        <input type="checkbox" name="offerServiceShortInternal" id="offerServiceShortInternal">
                        <span>Kurzfristige Betreuung (intern)</span>
                    </label>
                </div>
                <div class="row">
                    <label>
                        <input type="checkbox" name="offerServiceShortExternal" id="offerServiceShortExternal">
                        <span>Kurzfristige Betreuung (extern)</span>
                    </label>
                </div>
                <div class="row">
                    <label>
                        <input type="checkbox" name="offerServiceLongInternal" id="offerServiceLongInternal">
                        <span>Langfristige Betreuung (intern)</span>
                    </label>
                </div>
                <div class="row">
                    <label>
                        <input type="checkbox" name="offerServiceLongExternal" id="offerServiceLongExternal">
                        <span>Langfristige Betreuung (extern)</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col l12 input-field">
                    <label for="offerDescription">Beschreibung des Angebots</label>
                    <textarea id="offerDescription" name="offerDescription" class="materialize-textarea"
                              maxlength="600"></textarea>
                    <span class="helper-text">Maximal 600 Zeichen</span>
                </div>
            </div>

            <input type="submit" class="btn" value="Angebot erstellen">
        </form>
    </div>
</div>
{{> bottomInclude }}
