{{setVar "title" "Tier hinzufügen"}}
{{> topInclude }}

<div class="container">
    <h2>Tier hinzufügen</h2>
    <hr id="siteHeaderUnderline">
</div>
<div class="container">
    <div class="row">
        <form class="col l12" method="post" action="/create-animal/submit" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col l12">
                    <select name="animalSpecies">
                        <option value="" disabled selected>Tierart wählen</option>
                        {{#each animals}}
                            <option value="{{this.name}}">{{this.name}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6">
                    <label for="animalName">Name</label>
                    <input type="text" id="animalName" name="animalName">
                </div>
                <div class="input-field col l6">
                    <input type="file" name="animalFile" id="animalFile">
                </div>
            </div>
            <div class="row">
                <div class="input-field col l4">
                    <label for="animalAge">Alter</label>
                    <input type="number" min="0" max="50" id="animalAge" name="animalAge">
                </div>
                <div class="input-field col l4">
                    <label for="animalWeight">Gewicht</label>
                    <input type="number" min="0" max="200" id="animalWeight" name="animalWeight">
                </div>
                <div class="input-field col l4">
                    <label for="animalHeight">Größe</label>
                    <input type="number" min="0" max="200" id="animalHeight" name="animalHeight">
                    <span class="helper-text">Größe in cm</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l12">
                    <label for="animalDescription">Beschreibung</label>
                    <textarea name="animalDescription" id="animalDescription" maxlength="600"
                              class="materialize-textarea"></textarea>
                    <span class="helper-text">Maximal 600 Zeichen</span>
                </div>
            </div>

            <input type="submit" class="btn" value="Hinzufügen">
        </form>
    </div>
</div>

{{> bottomInclude }}
