{{setVar "title" "Tier hinzufügen"}}
{{> topInclude }}

<div class="container">
    <h2>Tier hinzufügen</h2>
    <hr id="siteHeaderUnderline">
</div>
<div class="container">
    <div class="row">
        <form class="col l12">
            <div class="row">
                <div class="input-field col l12">
                    <select>
                        <option value="" disabled selected>Tierart wählen</option>
                        {{#each animals}}
                            <option value="{{this.name}}">{{this.name}}
                            </option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col l12">
                    <label for="animalName">Name</label>
                    <input type="text" id="animalName" name="animalName">
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6">
                    <label for="animalAge">Alter</label>
                    <input type="number" min="0" max="50" id="animalAge" name="animalAge">
                </div>
                <div class="input-field col l6">
                    <label for="animalWeight">Gewicht</label>
                    <input type="number" min="0" max="200" id="animalWeight" name="animalWeight">
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6">
                    <label for="animalHeight">Größe</label>
                    <input type="number" min="0" max="200" id="animalHeight" name="animalHeight">
                    <span class="helper-text">Größe in cm</span>
                </div>
            </div>
        </form>
    </div>
</div>

{{> bottomInclude }}
