{{> topInclude }}
<link type="text/css" rel="stylesheet" href="assets/css/homepage.css">


<div class="parallax-container" id="parallax-homepage">
    <div class="parallax">
        <img class="" src="assets/img/dog_index.jpg" alt="Hund Bild">
    </div>
</div>

<div>
    <h3>Was wir Wollen</h3>
    <p></p>
</div>

<script type="text/javascript" src="assets/js/homepage.js"></script>
{{> bottomInclude }}
