<html>
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
</head>
<body>
{{> navbar }}
<h2>Login</h2>
<hr>
<div class="loginInput">
    <form><input id="userInput" type="text" placeholder="Benutzername">
        <input id="passwordInput" type="password" placeholder="Password">
        <input id="loginButton" type="button" value="Login"></form>
</div>
<div class="passwordForgotten">
    <p>Passwort vergessen?</p>
    <a href="">Passwort zurücksetzen</a>
</div>
<div>
    <p>Noch keinen Account?</p>
    <a href="">Hier registrieren</a>
</div>
</body>
</html>
