{{setVar "title" "Logout"}}
{{> topInclude }}

<div class="container">
    <div class="row">
        <div class="col s12 center">
            <h1>Abmeldung erfolgreich!</h1>
        </div>
    </div>
</div>

{{> bottomInclude }}
