{{setVar "title" "Registrierung"}}
{{> topInclude }}
<div class="container"><h2>Registrieren</h2>
    <hr>
</div>
<div class="container">
    <form class="input-field registerForm">
        <input id="firstNameRegister" type="text" placeholder="Vorname">
        <input id="lastNameRegister" type="text" placeholder="Nachname">

        <input id="passwordRegister" type="password" placeholder="Passwort">

        <input id="emailRegister" type="email" placeholder="Email">
        <input id="phoneNumberRegister" type="tel" placeholder="Telefonnummer">

        <input class="btn" id="registerButton" type="button" value="Registrieren">
    </form>
</div>
{{> bottomInclude }}
