<html>
<head>
    <meta charset="utf-8"/>
    <title>Registrieren</title>
</head>
<body>
{{> navbar }}
<h2>Registrieren</h2>
<hr>
<form>
    <input id="firstNameRegister" type="text" placeholder="Vorname">
    <input id="lastNameRegister" type="text" placeholder="Nachname">

    <input id="registerButton" type="button" value="Registrieren">
</form>
</body>
