{{ setVar "offer" true }}
{{> topInclude }}

<div class="container">

    <div class="row l1 s1 xl1"></div>
    <ul class=" row l10 s10 xl10 tabs tabs-fixed-width tab-demo z-depth-1 taboffer">
        <li class="tab col s6"><a target="_self" href="">Für Hunde besitzer</a></li>
        <li class="tab col s6"><a target="_self" href="/searchHelper">Für Anbieter</a></li>
    </ul>
    <div class="row l1 s1 xl1"></div>
    <div class="row s12 l12 xl12">

        <div class="row ">
            <div class="col s12 l3 xl3 filteroffer">
                {{>filterOffer}}
            </div>
            <div class="col s1 l1 xl1">
            </div>
            <div class="col s12 l8 xl8 filteroffer">
                <!--provisorisch -->
                <div class="col s12 m12">
                    <div class="card horizontal">
                        <div class="card-image" id="image-Container">
                            <img src="assets/img/cat2.jpg" alt="Tier Bild">
                        </div>
                        <div class="card-stacked" id="info">
                            <div class="card-content">
                                <p class="flow-text">Name: Nelly</p>
                                <p class="flow-text">Größe: 30cm</p>
                                <p class="flow-text">Gewicht: 15kg</p>
                            </div>
                            <div class="card-content">
                                <p>Ich suche hier mit dieser Anzeige jemanden, der sich um meine Katze kümmern kann,
                                    während ich im Urlaub bin. Dazu gehört das tägliche Füttern und einmal die Woche das
                                    Katzenklo reinigen. Wenns passt auch gerne mit dem Tier ein wenig spielen,
                                    ist jedoch kein muss. Sonstige Besonderheite gibt es bei meiner Katze keine,
                                    sprich keine Krankheiten o.ä. Somit sind auch wenige Vorerfahrungen notwenidg,
                                    lediglich würde ich es bevorzugen, wenn Sie auch  Katzenbesitzer/in sind.</p>
                            </div>
                            <div class="card-action center-align box">
                                <a class="btn-flat modal-trigger" href="#terms">Anfragen</a>
                            </div>

                            <div class="modal" id="terms">
                                <div class="modal-content center-align">
                                    <h5>Zustimmen </h5>
                                    <ul>
                                        <li>Ihre persönlichen Daten werden übersand</li>
                                        <li>Sie stellen eine Anfrage das Angebot anzunehmen</li>
                                        <li>Sie stellen eine Anfrage zur Kontaktaufnahme</li>
                                    </ul>
                                </div>
                                <div class="modal-footer center-align">
                                    <a href="#" class="modal-close btn orange row l6 xl6 s6">Zustimmen und Schliessen</a>
                                    <a href="#" class="modal-close btn orange row l6 xl6 s6">Abbrechen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12">
                    <div class="card horizontal">
                        <div class="card-image" id="image-Container">
                            <img src="assets/img/cat1.jpg" alt="Tier Bild">
                        </div>
                        <div class="card-stacked" id="info">
                            <div class="card-content">
                                <p class="flow-text">Name: Klara</p>
                                <p class="flow-text">Größe: 25cm</p>
                                <p class="flow-text">Gewicht: 10kg</p>
                            </div>
                            <div class="card-content">
                                <p>Ich suche hier mit dieser Anzeige jemanden, der sich um meine Katze kümmern kann,
                                    während ich im Urlaub bin. Dazu gehört das tägliche Füttern und einmal die Woche das
                                    Katzenklo reinigen. Wenns passt auch gerne mit dem Tier ein wenig spielen,
                                    ist jedoch kein muss. Sonstige Besonderheite gibt es bei meiner Katze keine,
                                    sprich keine Krankheiten o.ä. Somit sind auch wenige Vorerfahrungen notwenidg,
                                    lediglich würde ich es bevorzugen, wenn Sie auch  Katzenbesitzer/in sind.</p>
                            </div>
                            <div class="card-action center-align box">
                                <a class="btn-flat modal-trigger" href="#terms">Anfragen</a>
                            </div>

                            <div class="modal" id="terms">
                                <div class="modal-content center-align">
                                    <h5>Zustimmen </h5>
                                    <ul>
                                        <li>Ihre persönlichen Daten werden übersand</li>
                                        <li>Sie stellen eine Anfrage das Angebot anzunehmen</li>
                                        <li>Sie stellen eine Anfrage zur Kontaktaufnahme</li>
                                    </ul>
                                </div>
                                <div class="modal-footer center-align">
                                    <a href="#" class="modal-close btn orange row l6 xl6 s6">Zustimmen und Schliessen</a>
                                    <a href="#" class="modal-close btn orange row l6 xl6 s6">Abbrechen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12">
                    <div class="card horizontal">
                        <div class="card-image" id="image-Container">
                            <img src="assets/img/cat3.jpg" alt="Tier Bild">
                        </div>
                        <div class="card-stacked" id="info">
                            <div class="card-content">
                                <p class="flow-text">Name: Simba</p>
                                <p class="flow-text">Größe: 15cm</p>
                                <p class="flow-text">Gewicht: 12kg</p>
                            </div>
                            <div class="card-content">
                                <p>Ich suche hier mit dieser Anzeige jemanden, der sich um meine Katze kümmern kann,
                                    während ich im Urlaub bin. Dazu gehört das tägliche Füttern und einmal die Woche das
                                    Katzenklo reinigen. Wenns passt auch gerne mit dem Tier ein wenig spielen,
                                    ist jedoch kein muss. Sonstige Besonderheite gibt es bei meiner Katze keine,
                                    sprich keine Krankheiten o.ä. Somit sind auch wenige Vorerfahrungen notwenidg,
                                    lediglich würde ich es bevorzugen, wenn Sie auch  Katzenbesitzer/in sind.</p>
                            </div>
                            <div class="card-action center-align box">
                                <a class="btn-flat modal-trigger" href="#terms">Anfragen</a>
                            </div>

                            <div class="modal" id="terms">
                                <div class="modal-content center-align">
                                    <h5>Zustimmen </h5>
                                    <ul>
                                        <li>Ihre persönlichen Daten werden übersand</li>
                                        <li>Sie stellen eine Anfrage das Angebot anzunehmen</li>
                                        <li>Sie stellen eine Anfrage zur Kontaktaufnahme</li>
                                    </ul>
                                </div>
                                <div class="modal-footer center-align">
                                    <a href="#" class="modal-close btn orange row l6 xl6 s6">Zustimmen und Schliessen</a>
                                    <a href="#" class="modal-close btn orange row l6 xl6 s6">Abbrechen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

{{>bottomInclude}}
<script type="text/javascript" src="assets/js/popup.js"></script>
