body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#siteHeaderUnderline {
    margin-bottom: 5vh;
}

nav {
    background-color: #b83b5e;
}

.page-footer {
    background-color: #b83b5e
}

.btn {
    background-color: #2B2E4A !important;
}

button {
    background-color: #084177 !important;
}
.footer-copyright .row {
    margin-bottom: 0;
}
