
.taboffer {
    margin-bottom: 3vh;
    margin-top: 4vh;
    font-size: x-large;
}

#siteHeaderUnderlineforSearch {
    margin-bottom: 1vh;
}

.filterGroup {
    font-size: medium;
}

.range-field {
    color:grey;
}

button .filter {
    width: fit-content;
}
